#Archivo de ejemplo template ejecutado desde ansible escrito en jinja2
#https://jinja.palletsprojects.com/en/3.0.x/

#Variable= {{ Variable_Vars_main |upper }}

Nombre Grupo: {{ Nombre_Grupo }}
División: {{ Division }}
Fecha: 
—-------------------------
Distribución: {{ ansible_facts.distribution }}
Cantidad de Cores: {{ ansible_processor_cores }}
—-------------------------
R1: Nombre: matias-agustin    Apellido: morales-ojeda
R2: Nombre: matias-agustin    Apellido: morales-ojeda
R3: Nombre: matias-agustin    Apellido: morales-ojeda
R4: Nombre: matias-agustin    Apellido: morales-ojeda
R5: Nombre: matias-agustin    Apellido: morales-ojeda
R6: Nombre: matias-agustin    Apellido: morales-ojeda

